<div class="crm-body">
  <form [formGroup]="productForm" (ngSubmit)="onSave()" class="signin-form">
    <main id="content" style="min-height: 100vh">
      <!-- Card 1: Company Information -->
      <div class="form-card">
        <div class="form-card-header" (click)="toggleCard('card1')">
          <div class="form-card-title">
            <div class="form-card-icon ic-red">
              <i class="fa-solid fa-building"></i>
            </div>
            <div>
              <div class="form-card-label">
                Business Unit Information
                <span class="form-card-required-badge">Required</span>
              </div>
            </div>
          </div>
          <i
            class="fa-solid fa-chevron-up form-card-toggle"
            [class.open]="!collapsedCards['card1']"
          ></i>
        </div>
        <div class="form-card-body" [class.collapsed]="collapsedCards['card1']">
          <div class="row gy-4">
            <div class="col-12 col-md-6">
              <label class="form-label-crm"
                >BU Name <span class="req">*</span>
              </label>
              <mat-form-field class="w-100" appearance="outline">
                <input
                  class="filter-text"
                  matInput
                  formControlName="BUName"
                  [readonly]="isDisabled"
                />
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label-crm"
                >Oracle BU ID <span class="req">*</span>
              </label>
              <mat-form-field class="w-100" appearance="outline">
                <input
                  class="filter-text"
                  matInput
                  formControlName="OracleBUID"
                  [readonly]="isDisabled"
                />
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label-crm"
                >Oracle BU Code <span class="req">*</span>
              </label>
              <mat-form-field class="w-100" appearance="outline">
                <input
                  class="filter-text"
                  matInput
                  formControlName="OracleBUCode"
                  [readonly]="isDisabled"
                />
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label-crm"
                >Default Currency <span class="req">*</span>
              </label>
              <mat-form-field class="w-100" appearance="outline">
                <input
                  class="filter-text"
                  matInput
                  formControlName="DefaultCurrency"
                  [readonly]="isDisabled"
                />
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label-crm">Default Ledger ID </label>
              <mat-form-field class="w-100" appearance="outline">
                <input
                  class="filter-text"
                  matInput
                  formControlName="DefaultLedgerID"
                  [readonly]="isDisabled"
                />
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label-crm">Legal Entity ID </label>
              <mat-form-field class="w-100" appearance="outline">
                <input
                  class="filter-text"
                  matInput
                  formControlName="LegalEntityID"
                  [readonly]="isDisabled"
                />
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6" *ngIf="request_id > 0">
              <label class="form-label-crm">Status </label>
              <mat-radio-group
                class="w-100"
                appearance="outline"
                formControlName="Status"
                aria-label="Select an option"
              >
                <mat-radio-button [value]="true">Active</mat-radio-button>
                <mat-radio-button [value]="false">Inactive</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- STICKY ACTION BAR -->
    <div class="form-action-bar">
      <div class="form-action-bar-left"></div>
      <div class="form-action-bar-right">
        <button class="btn-crm btn-crm-blue" type="submit" *ngIf="!isDisabled">
          <i class="fa-solid fa-paper-plane"></i>
          {{ request_id > 0 ? "Update Business Unit" : "Add Business Unit" }}
        </button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="loading" class="cssload-container">
  <div class="cssload-speeding-wheel"></div>
</div>
