

<!-- <ag-grid-angular #agGrid [ngStyle]="domLayout? {'width': '100%'} : {'width': '100%', 'height':gridHeight + 'vh'}" id="myGrid"
    class="ag-theme-material" 
    [rowSelection]="rowSelection" [rowData]="rowData" [rowDragManaged]="rowDrag" [animateRows]="animateRows"
    [suppressMovableColumns]="!columDrag" [suppressRowClickSelection]="suppressRowClickSelection"
    [components]="components"
    [pagination]="pagination"
    [paginationPageSize]="paginationPageSize"
    [pinnedBottomRowData]="pinnedBottomRowData" [domLayout]="domLayout" [frameworkComponents]="frameworkComponents"
    (rowClicked)="onSelectionChanged($event)"
    (cellEditingStopped)="onCellEditingStopped($event)"
    (gridReady)="onGridReady($event)">
</ag-grid-angular> -->