<div class="modules-grid" id="modulesGrid">
  <div *ngFor="let item of masterSetup">
    <div
      class="module-card {{ item.theme }}"
      [routerLink]="item.route"
      routerLinkActive="active"
    >
      <div class="card-glow"></div>
      <div class="card-icon-wrap">
        <i class="{{ item.icon }}"></i>
      </div>
      <div class="card-title">{{ item.title }}</div>
    </div>
  </div>
</div>

<!-- <div class="p-3">
    <div class="container-fluid">
        <div class="row">
            <div class="disable-text-selection cursor-pointer col-md-4 col-sm-6 col-xs-12 align-center" *ngFor="let item of masterSetup"
                (click)="openDialog(item.component, item.header, item.headerTitle)">
                <div class="master-box">

                    <div class="display-block pb-10">
                        <img [src]="item.image">
                    </div>

                    <div class="font-20">{{item.title}}</div>

                </div>
            </div>
        </div>
    </div>
</div> -->
