.btn-english{
    background-color: rgba(229, 57, 53, 0.8); 
    color: #fff; 
    margin-right: 10px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border-color: rgba(229, 57, 53, 0.8); 
}