<div style="width: 100%; height: 400px;">
    <div class="flex">
        <div class="col-6">
            Students
        </div>
        <div class="col-6 flaot-right">
            <!-- <input type="text" style="padding: 5px;border: none; color: gray; border-bottom: 1px solid;"
                (keyup)="doFilter($event.target.value)" placeholder="Type to search..."> -->
        </div>
    </div>

    <mat-table #table [dataSource]="dataSource">

        <ng-container *ngFor="let column of tableColumns" [cdkColumnDef]="column.columnDef">
            <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>