<div>
  <ul class="nav backscreen">
    <div class="container1">
      <a class="navbar-brand" href="#">
        <img src="/image/foto.jpg" alt="canteenlogo" width="70" height="70">
      </a>
    </div>

    <div class="container">
      <li class="nav-item">
        <a class="nav-link active fontcolor" routerLink="/registration">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fontcolor" routerLink="/waitingpage">Waitingpage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fontcolor" routerLink="/tokenstatus">TokenStatus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fontcolor" routerLink="/users">Users</a>
      </li>

      <div class="navbarit">
        <button type="submit" (click)="logout()" class="btncolor btn btn-light fontcolor">Logout</button>
        <li class="nav-item">
          <a class="username nav-link active">{{username}}</a>
        </li>
      </div>
    </div>
  </ul>
</div>

<router-outlet></router-outlet>